{{#each friends}}
    <div class="one_friend" id='me{{id}}' draggable="true" ondragstart="drag(event)" ondrop="false">
        <div class="one_friend_item one_friend_item_image">
            <img class="photo" src="{{photo_100}}">
        </div>
        <div class="one_friend_item one_friend_item_name">
            {{first_name}} {{last_name}}
        </div>
        <div class="one_friend_item one_friend_item_plus">
            <img src="img/plus.png" alt="" class="one_friend_item_plus_image">
        </div>
    </div>
{{/each}}