<script type="text/javascript" src="https://vk.com/js/api/openapi.js?122"></script>

<button id="loadFriends">загрузить список друзей</button>
<button onclick="window.location.reload()" title="Для проверки хранения данных в localStorage">перезагрузить страницу</button>

<img class="img_logo" src="img/other_filter_img.png" alt="">

<div class="layout hidden">
	<div class="layout_container">
		<div class="layout_container_top">
			Выберите друзей
			<div class="layout_container_close" >
				<img src="img/cross.png" alt="" title="Закрыть окно с друзьями">
			</div>
		</div>
		<div id="friends">
			<div class="friends_left friends_item">
				<div class="friends_item_search friends_item_search_left">
					<input type="text" placeholder="Начните вводить имя друга" class="friends_item_search_left_input">
					<div class="img_loupe">
						<img src="img/loupe.png" alt="">
					</div>
				</div>

				<div class="friends_item_left">
					<p class="friends_item__title">
						Ваши друзья (<span id="leftFriendsCounter">0</span>)
					</p>
					<!-- Левый список друзей -->
					<div class="friends_item_left_inner friends_inner" id="friends_item_left_inner_block"></div>
				</div>
			</div>		
			<div class="friends_right friends_item">
				<div class="friends_item_search friends_item_search_right">
					<input type="text" placeholder="Начните вводить имя друга" class="friends_item_search_right_input">
					<div class="img_loupe">
						<img src="img/loupe.png" alt="">
					</div>
				</div>
				<div class="friends_item_right">
					<p class="friends_item__title">
						Ваши друзья (<span id="rightFriendsCounter">0</span>)
					</p>
					<!-- Правый список друзей -->
					<div class="friends_item_right_inner friends_inner" id="friends_item_right_inner_block" ondrop="
					return drop(event)" ondragover="return allowDrop(event)"></div>
				</div>


			</div>		
		</div>

		<div class="layout_container_bottom">
			<button class="layout_container_bottom_save" title="Сохранить состояние в localStorage">
				Сохранить
			</button>

			<button class="cleanLocalStorage" title="Очистить LocalStorage">
				Очистить LocalStorage
			</button>

			<!-- <button onclick="window.location.reload()">Перезагрузка страницы</button> -->
		</div>
	</div>
</div>
