

<div id="map">
		
	</div>

	<div class="balonblock" style="">
		<!-- Метка, адрес, закрыть балун -->
		<div class="balonblock_top">
			<img src="img/3.png" alt="">
			Невский пр., 78, Санкт-Петербург, 191025
			<img src="img/2.png" alt="" class="closingCross">
		</div>
		<div class="balonblock_existfeedback">
	
		</div>
	
		<div class="balonblock_leavefeed">
			<p class="balonblock_leavefeed_title">
				Ваш отзыв
			</p>

			<input type="text" placeholder="Ваше имя" class="yourname baloonInput">
			<input type="text" placeholder="Укажите место" class="yourplace baloonInput">
			<textarea placeholder="Поделитесь вашими впечатлениями" class="yourminds baloonInput"></textarea>

			<div class="balonblock_leavefeed_add">
				<span class="balonblock_leavefeed_add_btn">
					Добавить
				</span>
			</div>
		</div>
	</div>	