<div id="loading-block">Загрузка...</div>
<div id="filter-block">
  <input type="text" placeholder="название города" id="filter-input" style="font-size: 40px">

  <div id="filter-result"></div>
</div>
